<h1>Listings#new</h1>

<%= form_with model: @listing do |form| %>
<%= form.text_field :address_first_line, placeholder: "address(first line)" %>
<%= form.text_field :address_second_line, placeholder: "address(second line)" %>
