<h1>Requests you've made</h1><br>

<% @requests.each do |request| %>
<%= Listing.find(request.listing_id).title %>
<%= Listing.find(request.listing_id).description %>
<%= request.message %>
<% end %>
