<h1>Requests#index</h1>
<p>Find me in app/views/requests/index.html.erb</p>

<% @requests.each do |request| %>
<%= Listing.find(request.listing_id).title %>
<%= Listing.find(request.listing_id).description %>
<% end %>
