// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bulma";
@import "bulma-extensions";

html, body {
  margin: 0;
  height: 100%;
}
body {
  background-image: image-url('picture.jpg');
  height: 100%;
}

.clever-container {
  height:80%;
}
