// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bulma";
@import "bulma-extensions";

.listing-expand-button {
  cursor: pointer;
}

html, body {
  margin: 0;
  height: 100%; 
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

html {
  background: url(picture.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card {
  background-image: image-url('picture.jpg');
  margin: 40px;
  background: rgba(255,255,255, 0.4);
}

.clever-container {
  height:80%;
}

.title {

text-align: center;
}

.footer {

}
.wrapper {
  flex: 1;
}

.our-little-box {
  margin: 4em;
  padding: 2em;
  height: 300px;
  background: rgba(255,255,255, 0.7);
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.listing {
  width: 300px;
}
