// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bulma";
@import "bulma-extensions";

.listing-expand-button {
  cursor: pointer;
}

html, body {
  margin: 0;
  height: 100%;
}
body {
  background-image: image-url('picture.jpg');
  height: 100%;
}

footer {
  width: 100%;
  position: fixed;
  bottom: -50px;
}
